{%extends 'inv/sidebar.html'%}

{%block content%}
    <div class="container-fluid">
  <div class="row">
    <div class="col">

   <hr class="my-4">

 <h1 class="display-4">Users </h1>
        <p class="lead font-italic">List of Users</p>
                <hr class="my-4">
                <div class="card">
                {% if list %}
                  <div class="card-body">
               <div class="table-responsive-sm">
            <table id="example" class="table table-bordered  table-hover table-sm ">
                        <thead class="thead-dark">
                                <tr>
                                <th></th>
                                <th>username</th>
                                <th><a class="btn btn-light"  href=" {%url 'register'%}" >Register</a></button></th>
                                 
                                </tr>
                        </thead>
                        <tbody>
                                {% for instance in list %}
                                <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{instance.username}}</td>
                                  <td>  <a href=" {%url 'user_update' instance.id %} "><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                         <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.username}} ?');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                                </tr>
                                {% endfor %}
                        </tbody>
                      
                </table>
                 </div>
                  </div>
                {% else %}
                        <p>No details are available.</p>
                {% endif %}
             
        </div>
        </div>
        </div>
    </div>
{%endblock%}




