{%extends 'inv/sidebar.html'%}

{%block content%}




<div class="col">
  <div class="card" >
    <div class="card-deck text-center" >

  <div class="card text-dark bg-light mb-4">
    <div class="card-body text-center">
        <h4><a href="{% url 'userslist'%}"><span class="hidden-xs hidden-sm"> Users</span></a></h4>
        <hr>
        <h5>Total Users  </h5>
        <h4>{{users}}</h4>
        <hr>
        <a href="{% url 'userslist'%}" class="btn btn-primary btn-sm">View</a>
        <a href="{% url 'register'%}" class="btn btn-primary btn-sm">Register</a>
      </div>
    </div>
    <div class="card text-dark bg-light mb-4" >
      <div class="card-body text-center" >
        <h4><a href="{% url 'storeslist'%}"><span class="hidden-xs hidden-sm"> Stores</span></a></h4>
        <hr>
        <h5>Total Stores</h5>  
        <h4>{{stores}}</h4>
        <hr>
        <a href="{% url 'storeslist'%}" class="btn btn-primary btn-sm">View</a>
        <a href="{% url 'store_insert'%}" class="btn btn-primary btn-sm">Add new</a>
      </div>
    </div>
    <div class="card text-dark bg-light mb-4" >
      <div class="card-body text-center" >
        <h4><a href="{% url 'vendor_list'%}"><span class="hidden-xs hidden-sm"> Vendors</span></a></h4>
        <hr>
        <h5>Total Vendors  </h5>
        <h4>{{vendorscount}}</h4>
        <hr>
        <a href="{% url 'vendor_list'%}" class="btn btn-primary btn-sm">View</a>
        <a href="{% url 'vendor_insert'%}" class="btn btn-primary btn-sm">Add new</a>
      </div>
    </div>
    <div class="card text-dark bg-light mb-4" >
      <div class="card-body text-center" >
        <h4><a href="{% url 'engineer_insert'%}"><span class="hidden-xs hidden-sm"> Engineers</span></a></h4>
        <hr>
        <h5>Total Engineers  </h5>
        <h4>{{engineercount}}</h4>
        <hr>
        <a href="{% url 'engineer_list'%}" class="btn btn-primary btn-sm">View</a>
        <a href="{% url 'engineer_insert'%}" class="btn btn-primary btn-sm">Add new</a>
      </div>
    </div>
    </div>
</div>
  
  <div class="row">
      {%include 'inv/purchases_card.html'%}
  </div>
</div>
    {%endblock%}