{%extends 'inv/sidebar.html'%}

{%block content%}
<div class="container-fluid">
<div class="row">
     <div class="col-lg-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Stock Overview</h6>
                                </div>
                                <div class="card-body">

 {% if list %}
                                
                   <div class="table-responsive-sm">
                     <table id="example" class="table table-bordered  table-hover table-sm " >
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Item</th>
                                    <th>Purchased Quantity</th>
                                    <th>Issued Quantity</th>
                                    <th>Returned Quantity</th>
                                    <th>Current Quantity</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in list %}
                                <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{instance.item}}</td>
                                <td>{{instance.purchased_qty}}</td>
                                <td>{{instance.issued_qty}}</td>
                                <td>{{instance.returned_qty}}</td>
                                <td>{{instance.current_qty}}</td>
                                <td>{{instance.status}}</td>



                                </tr>
                                  {% endfor %}
                        </tbody>
                        
                    </table>
                    {% else %}
                            <p>No details are  available.</p>
                    {% endif %}
                

                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                 
                              

                                {% endblock %}