<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
{%block content%}

<form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="" method="POST">
    {% csrf_token %}
    <div class="mb-4">
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="first_name" type="text" placeholder="first name" value="{{form.first_name}}">
    </div>
    <div class="mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="last_name" type="text" placeholder="last name" value="{{form.last_name}}">
      </div>
      <div class="mb-4">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="email" value="{{form.email}}">
      </div>
    <div class="mb-4">
      <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="phone" type="text" placeholder="phone" value="{{form.phone}}">
    </div>
    <div class="mb-4">
        <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="employee_number" type="text" placeholder="employee number" value="{{form.employee_number}}">
      </div>
      <div class="mb-4">
        <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="role" type="text" placeholder="employee number" value="{{form.role}}">
      </div>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" name="register">
        Submit
      </button>
    </div>
  </form>

</div>
{%endblock%}