{%extends 'inv/sidebar.html'%}

{%block content%}
 
<div class="container">
<div class="row">
<div class="col-10">


                <h1 class="display-4">Engineers </h1>
                <p class="lead font-italic">List of Engineers</p>
                <hr class="my-4">
                <div class="card">
                    
                    {% if list %}
                   <div class="table-responsive-sm">
                     <table id="example" class="table table-bordered  table-hover table-sm " style="max-width:768px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Emp No</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th><button><a  href=" {%url 'engineer_insert'%}" ><i class="fa fa-plus-circle" ></i>Add New</a></button></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in list %}
                                <tr>
                                <th>{{forloop.counter}}</th>
                                <td>{{instance.first_name}}
                                    {{instance.last_name}}
                                </td>
                                <td>{{instance.employee_number}}</td>
                                <td>{{instance.phone}}</td>
                                <td>{{instance.email}}</td>
                                <td>{{instance.role}}</td>

<td>  
                                    <button class="btn"><a href="{%url 'engineer_view' instance.id %}"><i class="material-icons">remove_red_eye</i></a></button>
                                    <button class="btn"><a href="{% url 'engineer_update' instance.id %}"><i class="material-icons">create</i></a></button>
                                    <form action="{% url 'engineer_delete' instance.id %}" method="POST" class="d-inline"
                                    autocomplete="off" autocapitalize="characters">

                                    {%csrf_token%}
                                    <button type="submit" class="btn">
                                    <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.name}} ?');"><i class="material-icons">delete</i></a></button>
                                    </form>
                </td>

                                </tr>
                                  {% endfor %}
                        </tbody>
                        
                    </table>
                    {% else %}
                            <p>No details are  available.</p>
                    {% endif %}
                
                </div>
               
              </div>
 
       </div>
                 </div>
              </div>
    
    {%endblock%} 