{%extends 'inv/sidebar.html'%}

{%block content%} 
<div class="card">
<div class="row">

    <h1 class="display-4">Issuance </h1>
    <p class="lead font-italic">List of items issued</p>
    <hr class="my-4">
    <div class="card">
        {% if list %}
        <table id="example" class="table table-bordered display" style="width:100%">
                <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Items</th>
                            <th>Date</th>
                            <th>Quantity</th>
                            <th>Issue to</th>
                           
                            <th><button><a  href=" {%url 'issuance_insert'%}" ><i class="fa fa-plus-circle" ></i></a></button></th>
                        </tr>
                </thead>
                <tbody>
                {% for instance in list %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{instance.item}}</td>
                    <td>{{instance.date_created}}</td>
                    <td>{{instance.issuedqty}}</td>
                    <td>{{instance.store}}</td>
                   
                    <td> <a href="{%url 'issuance_view' instance.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{% url 'issuance_update' instance.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <form action="{% url 'issuance_delete' instance.id %}" method="POST" class="d-inline"
                        autocomplete="off" autocapitalize="characters">
                            
                            {%csrf_token%}
                        <button type="submit" class="btn">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button></form>
                    </td>
                </tr>
                    {% endfor %}
        </tbody>
</table>
{% else %}
        <p>No details are available.</p>
{% endif %}

</div>
</div>
</div>
{%endblock%}
