{%extends 'inv/sidebar.html'%}

{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col">



                <h1 class="display-4">Items </h1>
                <p class="lead font-italic">List of items</p>

                <hr class="my-4">
                <div class="card">

                {% if list %}
                {% csrf_token %}
                  <div class="card-body mb-4 ">
                <div class="table-responsive-sm">
                <table id="example" class="table table-bordered  table-hover table-sm ">
                        <thead class="thead-dark">
                                <tr>
                                        
                                        <th><input type="checkbox" onClick="toggle(this)" value="">
                                        <button id="delete_btn" class="btn btn-dark delete_btn">Delete</button></th>
                                        <th>NO.</th>
                                        <th>Name</th>
                                        <th>SKU</th>
                                        <th>Type</th>
                                        <th>Units</th>
                                        <th><a href="{% url 'item_list' %}" class="btn btn-light"><i class="fa fa-plus-circle" ></i>Add New</a></th>
                                         
                                </tr>
                        </thead>
                        <tbody>
                        
                            {% for instance in list %}
                            <tr data-id="{{ item.id }}">
                                <td><input type="checkbox" name="item_id[]" id="delete_item" value=""></td>
                                <td>{{forloop.counter}}</td>
                                <td>{{instance.name}}</td>
                                <td>{{instance.sku}}</td>
                                <td>{{instance.item_type}}</td>
                                <td>{{instance.units}}</td>
                                
        
                                <td>  <button class="btn"><a href="{%url 'items_view' instance.id %}"><i class="material-icons">remove_red_eye</i></a></button>
                                        <button class="btn"><a href="{% url 'item_update' instance.id %}"><i class="material-icons">create</i></a></button>
                                        <form action="{% url 'item_delete' instance.id %}" method="POST" class="d-inline"
                                        autocomplete="off" autocapitalize="characters">
                                        
                                        {%csrf_token%}
                                <button type="submit" class="btn">
                                <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.name}} ?');"><i class="fas fa-trash"></i></a></button>
                                </form>
                                </td>
                        
                            </tr>
                            {% endfor %}
                    </tbody>
                    
                </table>
                {% else %}
                        <p>No details are available.</p>
                {% endif %}
    </div>
    </div>

 
    </div>
    </div>
      </div>
        </div>

<script>
function toggle(source) {
checkboxes = document.getElementsByName('item_id[]');
for(var i=0, n=checkboxes.length;i<n;i++) {
checkboxes[i].checked = source.checked;
}
}
</script>
<script type='text/javascript'>
$(".delete-btn").click(function(){

  var selected_rows=[];

  $('.table-sm').find('tr').each(function(){
    var row=$(this);
    console.log(row.find('input[type="checkbox"]').is(':checked'));
    if (row.find('input[type="checkbox"]').is(':checked')) {
        console.log(row.attr('data-id'));
        selected_rows.push(row.attr('data-id'));
        };
    });
    var selected_rows = JSON.stringify(selected_rows);
    $.ajax({
        url: "{% url 'delete_item' %}",
        type: 'POST',
        data: {'items_list_ids': selected_rows,'csrfmiddlewaretoken': $("[name=csrfmiddlewaretoken]").val()},
    })
});
</script>
{%endblock%}