{%extends 'inv/sidebar.html'%}

{%block content%}
<div class="container">
  <div class="row">
    <div class="col-10">



                <h1 class="display-4">Items </h1>
                <p class="lead font-italic">List of items</p>
 <a href="{% url 'item_insert' %}" class="btn btn-secondary">Add New</a>
                <hr class="my-4">
                <div class="card">

                {% if list %}
                  <div class="card-body mb-4 ">
                <div class="table-responsive-sm">
                <table id="example" class="table table-bordered  table-hover table-sm ">
                        <thead class="thead-dark">
                                <tr>
                                        
                                        <th><input type="checkbox" id="checkboxNoLabel" value=""></th>
                                        <th>NO.</th>
                                        <th>Name</th>
                                        <th>SKU</th>
                                        <th>Type</th>
                                        <th>Units</th>
                                        <th>Actions</th>
                                         
                                </tr>
                        </thead>
                        <tbody>
                            {% for instance in list %}
                            <tr>
                                 <td>
                                
  <input type="checkbox" id="checkboxNoLabel" value="">

                                 </td>
                                <td>{{forloop.counter}}</td>
                                <td>{{instance.name}}</td>
                                <td>{{instance.sku}}</td>
                                <td>{{instance.item_type}}</td>
                                <td>{{instance.units}}</td>
                                
        
                                <td>  <button class="btn"><a href="{%url 'items_view' instance.id %}"><i class="material-icons">remove_red_eye</i></a></button>
                                        <button class="btn"><a href="{% url 'item_update' instance.id %}"><i class="material-icons">create</i></a></button>
                                        <form action="{% url 'item_delete' instance.id %}" method="POST" class="d-inline"
                                        autocomplete="off" autocapitalize="characters">
                                        
                                        {%csrf_token%}
                                <button type="submit" class="btn">
                                <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.name}} ?');"><i class="material-icons">delete</i></a></button>
                                </form>
                                </td>
                              
                            </tr>
                            {% endfor %}
                    </tbody>
                    
                </table>
                {% else %}
                        <p>No details are available.</p>
                {% endif %}
    </div>
    </div>

 
    </div>
    </div>
      </div>
        </div>
   
{%endblock%}