
{% extends 'inv/base.html'%}
{% block content %}

          <form method="POST" action=""  >
          {%csrf_token%}


          <input type="text" id="login" class="fadeIn second" name="username" placeholder="Email">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
          <div class="messages-menu">
          {%for message in messages%}
                  <h5>{{message}}</h5>
          {%endfor%}
          </div>

          <input type="submit" class="fadeIn fourth" value="Log In">
          <li><a href="{% url 'reset_password' %}">Forgot password?</a></li>

          </form>


{% endblock %}

