
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>


.navbar .active a {
  background: #122143;
  font-size: 20px;
  font-weight: 300;
}

.navi a:hover {
  background: #122143 none repeat scroll 0 0;
  border-left: 5px solid #EE6C4D;
  color: #EE6C4D;
  display: block;
  padding-left: 15px;
}

</style>

<nav class="navbar navbar-dark" style="background-color: #122143;">
    <div class="navbar">
      <a class="active navbar-brand" style="color:#e0fbfc;"href="{% url 'admin_dashboard'%}">Home</a>
    </div>
  </nav>