{%extends 'inv/base.html'%}


{%block content%}

<form  action="" method="POST" autocomplete="off" autocapitalize="characters">
{%csrf_token%}
<div>

</div>
<div class="form">
{{form}}
</div>
 {%for message in messages%}
                  <h5>{{message}}</h5>
          {%endfor%}
<div class="form-inline ">
<div class="col-md-6">
<a href="{%url 'home'%}" class="btn btn-success btn-block btn-dark">Cancel</a>
</div>
<div class="col-md-6">
<button type="submit" class="btn btn-success btn-block btn-dark">Submit</button>
</div>

</div>
</form>

 

    {%endblock%}


 