
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% block content %}
{%include 'inv/navbar.html'%}
	<h2>Products</h2>
    <br>
    <button><a  href=" {%url 'create_product'%}" >Add product</a></button>
	{% if products %}
	<table id="example" class="table table-bordered display" style="width:100%">
    		<thead class="thead-dark">
            		<tr>
                            <th></th>
                            <th>name</th>
                            <th>vendor</th>
                            <th>buying price</th>
                            <th>selling price</th>
                            <th>actions</th>
                            </tr>
        	</thead>
        	<tbody>
                {% for instance in products %}
                <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{instance.name}}</td>
                <td>{{instance.vendor}}</td>
                <td>{{instance.buying_price}}</td>
                <td>{{instance.selling_price}}</td>
                <td><a href="">view</a>
                    <a href=" ">edit</a>
                    <a href=" ">delete</a>
                </td>
                </tr>
                  
                  {% endfor %}
        
		</tbody>
		<tfoot>
            <tr>
                        
                <th></th>
                <th>name</th>
                <th>vendor</th>
                <th>buying price</th>
                <th>selling price</th>
                <th>actions</th>
                
        </tr>
        	</tfoot>
	</table>
	{% else %}
    		<p>No details are available.</p>
	{% endif %}
{% endblock %}


