{%extends 'inv/sidebar.html'%}

{%block content%}
<div class="card">  
<div class="row">

                <h1 class="display-4">Purchases </h1>
                <p class="lead font-italic">List of purchases</p>
                <hr class="my-4">
                <div class="card">

                {% if list %}
                <table id="example" class="table table-bordered display" style="width:100%">
                        <thead class="thead-dark">
                                <tr>
                                        <th></th>
                                        <th>PO</th>
                                        <th>Item</th>
                                        <th>Vendor</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total Price</th>
                                       
                                        <th><button><a  href=" {%url 'purchase_insert'%}" ><i class="fa fa-plus-circle" ></i></a></button></th>
                                        </tr>
                        </thead>
                        <tbody>
                            {% for instance in list %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{instance.po}}</td>
                            <td>{{instance.item}}</td>
                            <td>{{instance.vendor}}</td>
                            <td>{{instance.quantity}}</td>
                            <td>{{instance.price}}</td>
                            <td>{{instance.total_price}}</td>
                          
                            
                            
       
                            <td>
                                <a href="{% url 'purchase_update' instance.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <form action="{% url 'purchase_delete' instance.id %}" method="POST" class="d-inline"
                                autocomplete="off" autocapitalize="characters">
                                  
                                   {%csrf_token%}
                               <button type="submit" class="btn">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                               </button></form>
                            </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% else %}
                        <p>No details are available.</p>
                {% endif %}
    </div>
{%endblock%}

