
<div class="card mb-4">
<div class="card-body text-center" >
  <h2><a href="{% url 'purchases_card'%}"><span class="hidden-xs hidden-sm"> Recent Purchases</span></a></h2>
  <hr>
            <div class="table-responsive-sm">
            <table id="table_id" class="table table-bordered  table-hover table-sm ">
            <thead>
                <tr>
                    <th></th>
                    <th>PO number</th>
                    <th>Date</th>
                    <th>Vendor</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                   
                    <th><button><a  href=" {%url 'purchase_insert'%}" ><i class="fa fa-plus-circle" ></i></a></button></th>
        
                    
                </tr>
      </thead>
      <tbody>
          {% for instance in purchases_recent %}
          <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{instance.po}}</td>
          <td>{{instance.date_created}}</td>
          <td>{{instance.vendor}}</td>
          <td>{{instance.item}}</td>
          <td>{{instance.purchased_qty}}</td>
          <td>{{instance.price}}</td>
          <td>{{instance.total_price}}</td>
         
          <td>
          <button class="btn"><a href="{%url 'purchase_view' instance.id %}"><i class="material-icons">remove_red_eye</i></a></button>
          <button class="btn"><a href="{% url 'purchase_update' instance.id %}"><i class="material-icons">create</i></i></a></button>
            
          <form action="{% url 'purchase_delete' instance.id %}" method="POST" class="d-inline">
                
                {%csrf_token%}
            <button type="submit" class="btn">
                <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.po}} ?');"><i class="material-icons">delete</i></a>
            </button></form>
          </td>
          </tr>
            {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
</div>
    
  