{%extends 'inv/sidebar.html'%}
{%load crispy_forms_tags%}
{%load bootstrap%}

<script>
        $(function () {
                $("#id_start_date").datepicker();
              }); 
        
              $(function () {
                $("#id_end_date").datepicker();
              }); 
</script>
{%block content%}
<div class="jumbotron"> 
        <div>
                <form action="" method="GET" class="d-inline" autocomplete="off" autocapitalize="characters">
                
                   {{myFilter.form|bootstrap}}
                <button type="submit" class="btn btn-primary" value="Search">Search</button>
              
                
                </form>
        
        </div>


</div>



<div class="jumbotron">  
<div class="row">

                <h1 class="display-4">Purchases </h1>
                <p class="lead font-italic">List of purchases</p>
                <hr class="my-4">
                <div class="card">

                {% if list %}
                <table id="example" class="table table-bordered display" style="width:100%">
                        <thead class="thead-dark">
                                <tr>
                                        <th></th>
                                        <th>PO</th>
                                        <th>Item</th>
                                        <th>Vendor</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total Price</th>
                                       
                                        <th><button><a  href=" {%url 'purchase_insert'%}" ><i class="fa fa-plus-circle" ></i></a></button></th>
                                        </tr>
                        </thead>
                        <tbody>
                            {% for instance in list %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{instance.po}}</td>
                            <td><a href="{% url 'item_update' instance.id %}">{{instance.item}}</a></td>
                            <td><a href="{% url 'vendor_update' instance.id %}">{{instance.vendor}}</a></td>
                            <td>{{instance.purchased_qty}}</td>
                            <td>{{instance.price}}</td>
                            <td>{{instance.total_price}}</td>
                          
                            
                            
       
                            <td><a href="{%url 'purchase_view' instance.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href="{% url 'purchase_update' instance.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a href="{% url 'purchase_delete' instance.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                {% else %}
                        <p>No details are available.</p>
                {% endif %}
    </div>
{%endblock%}

