{%extends 'inv/sidebar.html'%}


{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col">
<div class="bg-gray-100">
  {%for message in messages%}
              <h3>{{message}}</h3>
            {%endfor%}
</div>
 <hr class="my-4">
     <h1 class="display-4">Purchases </h1>
                <p class="lead font-italic">List of purchases</p>
                <hr>

      <div class="card mb-4" >

 <div class="card-body me-4" >
        {% if list %}

            <div class="table-responsive-sm">
            <table id="example" class="table table-bordered  table-hover table-sm ">
                        <thead class="thead-dark">
                                <tr>
                                        <th><input type="checkbox" onClick="toggle(this)" value=""></th>
                                        <th></th>
                                        <th>PO</th>
                                        <th>Item</th>
                                        <th>Vendor</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total Price</th>
                                       
                                        <th><button><a  href=" {%url 'purchase_insert'%}" ><i class="fa fa-plus-circle" ></i>Add New</a></button></th>
                                        </tr>
                        </thead>
                        <tbody>
                            {% for instance in list %}
                            <tr>
                            <td><input type="checkbox" name="checkbox" value="purchases"></td>
                            <td scope="row">{{forloop.counter}}</td>
                            <td><a href="{%url 'purchase_view' instance.id %}">{{instance.po}}</a></td>
                            <td>{{instance.items}}</a></td>
                            <td>{{instance.vendor}}</a></td>
                            <td>{{instance.purchased_qty}}</td>
   
                            <td>  
                                    <button class="btn"><a href="{%url 'purchase_view' instance.id %}"><i class="material-icons">remove_red_eye</i></a></button>
                                    <button class="btn"><a href="{% url 'purchase_update' instance.id %}"><i class="material-icons">create</i></a></button>
                                    <form action="{% url 'purchase_delete' instance.id %}" method="POST" class="d-inline"
                                    autocomplete="off" autocapitalize="characters">

                                    {%csrf_token%}
                                    <button type="submit" class="btn">
                                    <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.name}} ?');"><i class="material-icons">delete</i></a></button>
                                    </form>
                </td>

                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                {% else %}
                        <p>No details are available.</p>
                        <div>
                        <button><a  href=" {%url 'purchase_insert'%}" ><i class="fa fa-plus-circle" ></i>Add New</a></button>
                         </div>
                {% endif %}
    </div>
     <hr class="my-4">
  </div>
  </div>
    
  </div>  

<script>
function toggle(source) {
checkboxes = document.getElementsByName('checkbox');
for(var i=0, n=checkboxes.length;i<n;i++) {
checkboxes[i].checked = source.checked;
}
}
</script>


{%endblock%}

