
{%block content%}
<form action="" method="POST">
    {% csrf_token %}
 <div>  
{{form.username.label}}
{{form.username}}
</div>
<br>
<div>  
{{form.first_name.label}}
{{form.first_name}}
</div>
<br>
<div>  
{{form.last_name.label}}
{{form.last_name}}
</div>
<br>
<div>
{{form.email.label}}
{{form.email}}
</div>
<br>
<div>
{{form.password1.label}}
{{form.password1}}
</div>
<br>
<div>
{{form.password2.label}}
{{form.password2}}
</div>
<br>

<div>
{%for messages in messages%}
<a>{{messages}}</a>
    {%endfor%}
</div>
<div>
    <input type="submit" name="register">
</div>


</form>




{%endblock%}