{%extends 'inv/sidebar.html'%}

{%block content%}  
<div class="row">

                <h1 class="display-4">Returned Items </h1>
                <p class="lead font-italic">List of returned items</p>
                <hr class="my-4">
                <div class="card">
                    
                    {% if list %}
                    <table id="example" class="table table-bordered display" style="width:100%">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>date created</th>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Returned by</th>
                                    <th><button><a  href=" {%url 'returneditems_insert'%}" >Add vendor</a></button></th>
                       
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in list %}
                                <tr>
                                <th>{{forloop.counter}}</th>
                                <td>{{instance.date_created}}</td>
                                <td>{{instance.item}}</td>
                                <td>{{instance.quatity}}</td>
                                <td>{{instance.returnedby}}</td>
                               
                                <td><a href="{% url 'returneditems_update' instance.id %}">edit</a>
                                    <form action="{% url 'returneditems_delete' instance.id %}" method="POST" class="d-inline"
                                     autocomplete="off" autocapitalize="characters">
                                       
                                        {%csrf_token%}
                                    <button type="submit" class="btn">
                                        delete
                                    </button></form>
                                </td>
                                </tr>
                                  {% endfor %}
                        </tbody>
                        
                    </table>
                    {% else %}
                            <p>No details are  available.</p>
                    {% endif %}
                
                </div>
              </div>
        </div>
    </div>
{%endblock%}

