{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- CDN Links-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
 
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
   

  
 <!--   <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>-->

    <!-- Custom styles -->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-light sidebar sidebar-light accordion" id="accordionSidebar">

            <!-- Sidebar - Btn logo -->
            
               <div class="navbar-brand justify-content-center bg-light d-flex flex-column"  style="width:250px;margin:0px; height:70px;" >
                <div class="container-fluid  bg-light"  style="width:200px;margin:0px;" >
                  <a  href="{%url 'admin_dashboard'%}">
                 
                  
                  </a>
                </div>
                </div>
            
               
       
        <!--SUPERADMIN SIDEBAR-->
         <h5>{{ user.groups.all.0 }}</h5>
           {% if request.user.groups.all.0.name == 'superadmin'  %}
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_dashboard'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Dashboard
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Actions
            </div>

            <!-- Nav Item  -->
            <li class="nav-item">
               <a class="nav-link" href="{% url 'item_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Items
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'vendor_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Vendors
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'vendorprice_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Prices
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'purchase_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Purchases
                </a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="{% url 'engineer_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Engineers
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'storeslist'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Stores
                </a>
            </li>
              <li class="nav-item">
               <a class="nav-link" href="{% url 'admin_approval'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Approvals
                </a>
            </li>
               <li class="nav-item">
               <a class="nav-link" href="{% url 'admin_return'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Returns
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'userslist'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Users
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Statistics
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'admin_stock'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Stock
                </a>
            </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'admin_report'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Reports
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            

       
        <!-- End of SuperAdmin  Sidebar -->



        {% elif request.user.groups.all.0.name == 'admin'  %}
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin_dashboard'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Dashboard
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Actions
            </div>

            <!-- Nav Item  -->
            <li class="nav-item">
               <a class="nav-link" href="{% url 'item_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Items
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'vendor_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Vendors
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'vendorprice_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Prices
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'purchase_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Purchases
                </a>
            </li>
              <li class="nav-item">
               <a class="nav-link" href="{% url 'engineer_list'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Engineers
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'storeslist'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Stores
                </a>
            </li>
              <li class="nav-item">
               <a class="nav-link" href="{% url 'admin_approval'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Approvals
                </a>
            </li>
               <li class="nav-item">
               <a class="nav-link" href="{% url 'admin_return'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Returns
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'userslist'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Users
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Statistics
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                 <a class="nav-link" href="{% url 'admin_stock'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Stock
                </a>
            </li>
             <li class="nav-item">
                 <a class="nav-link" href="{% url 'admin_report'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Reports
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            

       
        <!-- End of Admin  Sidebar -->


        <!--TEAMLEADER SIDEBAR-->
       
        {% elif request.user.groups.all.0.name == 'teamleader' or request.user.groups.all.0.name == 'staff' %}
         
         <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'teamleader_dashboard'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
             </li>
               <li class="nav-item">
               <a class="nav-link" href="{% url 'teamleader_stock'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Stock
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Actions
            </div>

            <!-- Nav Item  -->
            <li class="nav-item">
               <a class="nav-link" href="{% url 'teamleader_request'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Request items
                </a>
            </li>
               <li class="nav-item">
               <a class="nav-link" href="{% url 'teamleader_approval'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>Engineer Requests
                </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{% url 'teamleader_return'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>Engineer Returned items
                </a>
            </li>
             <li class="nav-item">
               <a class="nav-link" href="{% url 'teamleader_make_return'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Return items
                </a>
            </li>
               
              <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
             
              <!--END OF TEAMLEADER SIDEBAR-->
                <!--ENGINEER SIDEBAR-->
                 {% elif request.user.groups.all.0.name == 'engineer' %}
                <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'engineer_dashboard'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
             </li>
               <li class="nav-item">
               <a class="nav-link" href="{% url 'engineer_stock'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Stock
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Actions
            </div>

            <!-- Nav Item  -->
            <li class="nav-item">
               <a class="nav-link" href="{% url 'engineer_request'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Request items
                </a>
            </li>
           
               <li class="nav-item">
               <a class="nav-link" href="{% url 'engineer_make_return'%}">
                    <i class="fas fa-fw fa-tachometer-alt"></i> Return items
                </a>
            </li>
              <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
            {%endif%}

                 <!--END OF ENGINEER SIDEBAR-->

                  </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-light topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="justify-content-center">
                     <img class="bg-light" src="{% static 'img/BTNLogo.png'%}"   alt="btn logo" width="180" height="50" class="d-inline-block align-text-top">
                     </div>
<div class="float-right">
<div class="float-right">
  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger ' href='#' data-target='dropdown1'><i class="material-icons">account_circle</i></a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Profile</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">Change Password</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="{% url 'logout_view'%}">Logout</a></li>
    <li class="divider" tabindex="-1"></li>
  </ul>
</div>
</div>
                    


                  

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
{% block content %}


{% endblock content %}
                         

                        </div>
                    </div>

                <!-- /.container-fluid -->

           
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-light ">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; BTN Kenya  2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    

    <!-- Bootstrap core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Core plugin JavaScript-->
   
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
    } );
    </script>
    <script>
    let table = new DataTable('#example', {
    // options
    });
    </script>
    <script>
    $('.dropdown-trigger').dropdown();
 </script>
</body>

</html>