{%extends 'inv/sidebar.html'%}

{%block content%}  
<div class="card">
<div class="row">

                <h1 class="display-4">Stock </h1>
                <p class="lead font-italic">List of Items in Stock</p>
                <hr class="my-4">
                <div class="card">
                    
                                    
                    {% if list %}
                    <table id="example" class="table table-bordered display" >
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Item</th>
                                    <th>Purchase Quantity</th>
                                    <th>Issued Quantity</th>
                                    <th>Returned Quantity</th>
                                    <th>Current quantity</th>
                                    <th>Re-order Level</th>
                                    <th>total price</th>
                                    <th>status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in list %}
                                <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{instance.item}}</td>
                                <td>{{instance.purchaseqty}}</td>
                                <td>{{instance.issueqty}}</td>
                                <td>{{instance.returnedqty}}</td>
                                <td>{{instance.reorderlevel}}</td>
                                <td>{{instance.status}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                            <p>No details are available.</p>
                    {% endif %}

                </div>
                </div>
                </div>
          {%endblock%}     


