{%extends 'inv/sidebar.html'%}

{%block content%} 
<div class="col-6"> 
<nav>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'admin_dashboard'%}">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Stock </li>
 
  </ol>
</nav>
</div>
<div class="card"> 
<div class="row">

                <h1 class="display-4">Stock </h1>
                <p class="lead font-italic">List of Items in Stock</p>
                <hr class="my-4">
                <div class="card">
                    
                                    
                    {% if list %}
          <div class="table-responsive-sm">
            <table id="example" class="table table-bordered  table-hover table-sm ">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>Item</th>
                                    <th>Purchase Quantity</th>
                                    <th>Issued Quantity</th>
                                    <th>Returned Quantity</th>
                                    <th>Current quantity</th>
                                    <th>Re-order Level</th>
                                    <th>Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for instance in list %}
                                <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td>{{instance.item}}</td>
                                <td>{{instance.purchased_qty}}</td>
                                <td>{{instance.issued_qty}}</td>
                                <td>{{instance.returned_qty}}</td>
                                <td>{{instance.current_qty}}</td>
                                <td>{{instance.reorder_level}}</td>
                                <td>{{instance.status}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                            <p>No details are available.</p>
                    {% endif %}

                </div>
                </div>
                </div>
          {%endblock%}     


