
{%extends 'inv/sidebar.html'%}
{%load bootstrap%}
{%block content%}  
     <div class="container">
  <div class="row">
    <div class="col-10">

      <hr class="my-4">
<nav>

  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'admin_dashboard'%}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{%url 'storeslist'%}"> Stores</a></li>
         <li class="breadcrumb-item active" aria-current="page">Add New Store</li>
        
       
  </ol>
</nav>
   <hr class="my-4">
            <div class="card"> 
                <h1 class="display-4">Stores </h1>
                <p class="lead font-italic">Register New Store</p>
               
                <form  action="" method="POST" autocomplete="off" autocapitalize="characters">
                  {%csrf_token%}
                   <hr>
                      <div class="row">
                     
                        {{form.name|bootstrap}}
                      </div>
                      
                      <div class="row">
                        
                          {{form.engineer|bootstrap}}
                        </div>
                       
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{%url 'storeslist'%}" class="btn btn-success btn-block btn-dark">Cancel</a>
                            </div>
                          <div class="col-md-8">
                              <button type="submit" class="btn btn-success btn-block btn-dark">Submit</button>
                          </div>
                         
                          </div>
                    </form>
    </div>
      <hr class="my-4">
     </div>
{%endblock%}