{%extends 'inv/sidebar.html'%}

{%block content%}
     <div class="container">
  <div class="row">
    <div class="col-10">

      <hr class="my-4">
<nav>

  <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'admin_dashboard'%}">Dashboard</a></li>
         <li class="breadcrumb-item active" aria-current="page">Stores</li>
          <li class="breadcrumb-item"><a href="{%url 'store_insert'%}">Add New Store</a></li>
       
       
  </ol>
</nav>
   <hr class="my-4">
    <h1 class="display-4">Stores </h1>
    <br>
    <p class="lead font-italic">List of stores</p>
    <hr class="my-4">
    <div class="card">
            {% if list %}
            <div class="table-responsive-sm">
            <table id="example" class="table table-bordered  table-hover table-sm " style="max-width:768px;">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Engineer</th>
                            <th><button><a  href=" {%url 'store_insert'%}" ><i class="fa fa-plus-circle" ></i>Add New</a></button></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in list %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{instance.name}}</td>
                            <td>{{instance.engineer.first_name}} {{instance.engineer.last_name}}</td>
                            <td><a href="{%url 'store_view' instance.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="{% url 'store_update' instance.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <form action="{% url 'store_delete' instance.id %}" method="POST" class="d-inline"
                                 autocomplete="off" autocapitalize="characters">
                                   
                                    {%csrf_token%}
                                <button type="submit" class="btn">
                                    <a href="#" onclick="return confirm('Are you sure you want to delete {{instance.name}} ?');"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </button></form>
                            </td>
                            </tr>
                    {% endfor %}
                </tbody>
            
            </table>
            </div>
            {% else %}
                    <p>No details are available.</p>
            {% endif %}
    
          
</div>
   <hr class="my-4">
</div>
</div>
  {%endblock%}