<li >
    <a href="{% url 'teamleader_dashboard'%}">
        My Dashboard
    </a>
</li>
{% block content %}

        <div >
            <ul >
                <li >
                    <a href="{% url 'teamleader_dashboard'%}">
                        My Dashboard
                    </a>
                </li>
                <li>
                    <a href="{% url 'request_product_tm'%}">Request Products</a>
                </li>
                <li>
                    <a href="{% url 'teamleader_issuance'%}">Issue Products</a>
                </li>    
            </ul> 
        </div>

{% endblock %}







