{%extends 'inv/sidebar.html'%}

{%block content%} 
<div class="card">
<div class="row">

          <h1 class="display-4">Purchase Form </h1>
            <p class="lead font-italic">Add New Purchases</p>
            
                <form  action="" method="POST" autocomplete="off" autocapitalize="characters">
                  {%csrf_token%}
                  <hr>
                  <div class="row">
                    <label for="po">PO</label>
                    {{form.po}}
                  </div>
                  <div class="row">
                    <label for="item">Item</label>
                    {{form.item}}
                  </div>
                  <div class="row">
                    <label for="vendor">Vendor</label>
                    {{form.vendor}}
                  </div>
                  <div class="row">
                    <label for="price">Price</label>
                    {{form.price}}
                  </div>
                  <div class="row">
                      <label for="quantity">Quantity</label>
                      {{form.quantity}}
                  </div>  
                  <div class="row">
                    <label for="date_created">Date created</label>
                    {{form.date_created}}
                </div>
                <div class="row">
                  <label for="created_y">Created by</label>
                  {{form.createdby}}
              </div>
                <div class="row">
                  <label for="date_update">Date Updated</label>
                  {{form.date_update}}
              </div>
              <div class="row">
                <label for="date_created">Updated by</label>
                {{form.date_created}}
            </div>
            <div class="row">
              <label for="date_created">Actions</label>
              {{form.date_created}}
          </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-4">
                      <a href="{%url 'purchase_list'%}" class="btn btn-success btn-block btn-dark">Cancel</a>
                  </div>
                  <div class="col-md-8">
                      <button type="submit" class="btn btn-success btn-block btn-dark">Submit</button>
                  </div>         
              </div>
            </form>
          </div>
        </div>
    
  
{%endblock%}
